body{
	background: -webkit-linear-gradient(right, rgba(204,204,237,0), rgba(204,204,237,1));
	font-family: sans-serif; 
}

#content {
	margin: 40px;
	height: 100%;
}

#search {
	width: 90%;
}

#googlesearch {
	-webkit-appearance: none;
	width: 83%;
	font-size : 20px;
	height: 40px;
	border:2px solid #a1a1a1;
	border-radius:12px;
}

#searchbtn {
	-webkit-appearance: none;
	color: white;
	width: 15%;
	font-size : 20px;
	height: 40px;
	border:2px solid #a1a1a1;
	border-radius:12px;
	margin-left: 10px;
}

#results {
	width: 100%;
	margin-top: 40px;
}
#images {
	width: 40%;
	float: left;
	border:2px solid #a1a1a1;
	border-radius:25px;
	padding: 20px;
	margin-right: 24px;	
	height: auto;
	background-color: white;
	height: 84%;	
}

#web {
	width: 40%;
	float: left;
	border:2px solid #a1a1a1;
	border-radius:25px;
	padding: 20px;
	background-color: white;
	height: 84%;	
}

#paginator {
	text-align: center;
}

#paginator a {
	text-decoration: none;
	height: 10px;
}

.web_entry{
	margin-bottom: 10px;
}

.image {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

h2 {
	color: #a1a1a1;
	font-weight: 400;
	margin-top: 0;
}
